<form #taskForm="ngForm" (ngSubmit)="onSubmit();">
  <div class="form-group mb-2">
    <label for="nameInput">Name</label>
    <input type="text" class="form-control" id="nameInput" name="name" [(ngModel)]="task.name" required>
  </div>
  <div class="form-group mb-2">
    <label for="prioritySelect">Priority</label>
    <select class="form-control" id="prioritySelect" name="priority" [(ngModel)]="task.priority" required>
      <option *ngFor="let priority of priorities" [value]="priority">{{priority}}</option>
    </select>
  </div>
  <div class="form-group mb-2">
    <label for="nameInput">Description</label>
    <textarea type="text" class="form-control" name="description" [(ngModel)]="task.description" required></textarea>
  </div>
  <div class="form-group mb-2">
    <label for="date">Date</label>
    <input [(ngModel)]="task.date"
           placeholder="Select date"
           class="form-control"
           name="date"
           id="date"
           bsDatepicker>
  </div>
  <div class="form-group mb-2">
    <label for="prioritySelect">Complete</label>
    <select class="form-control" id="prioritySelect" name="complete" [(ngModel)]="task.complete" required>
    <option *ngFor="let complete of completes" [value]="complete">{{complete}}</option>
    </select>
  </div>
  <button [disabled]="taskForm.invalid" type="submit" class="btn btn-primary mt-3">
    {{task.id ? 'Save' : 'Create'}}
  </button>
</form>
